#home { 
    display: flex;
    min-height: calc(100vh - 91px);

}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;

}

#cta .title {
    font-size: 4rem;
    font-weight: 600;
    color: #1d1d1d;
}

#cta .title span {
    color: #ec9d52;
}