@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Gothic&family=Special+Gothic+Expanded+One&display=swap');

* {
  font-family: "Special Gothic Expanded One", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

section {
  padding: 28px 8%;


}

.btn_default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcb75;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.btn_default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 195, 147);
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn_default:hover {
  background-color: #ffe100;
  transition: all 0.3s ease-in-out;
}